.adjustSidebar{
    display: flex;
}
main{
    width: 100%;
}
nav{
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}
nav>img{
    margin-right: 20px;
    width: 65px;
}
.totalAmountDiv{
    text-align: center;
    margin: 20px auto 20px auto;
    border: 6px double #2ff32f;
    padding: 10px 20px;
    /* box-shadow: 0px 11px 17px -7px rgba(0,0,0,0.75); */
    display: flex;
}
.totalAmountDiv>p{
    margin: auto 6px;
    font-size: 20px;
}
.totalAmount{
    font-size: 35px !important;
    color: #2ff32f;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #bbbbbb !important;
    text-align: left;
    padding: 8px;
  }
  th{
    background-color:  #dddddd;
  }
  .amount{
    color: #2ff32f;
}
  @media (max-width:800px) {
    body{
     overflow-x:hidden;
    }
    main{
      width: 90%;
    }
     .tableDiv{
         width: 100%;
         overflow-x: auto;
     }
   table{
     width: 800px;
   }
 }
